<div id="banner">
	<div class="container{% if BOOTSTRAP_FLUID %}-fluid{% endif %}">
		<div class="copy">
			<h1>{{ SITENAME }}</h1>
			{% if BANNER_SUBTITLE %}
				<span class="intro">{{ BANNER_SUBTITLE }}</span>
			{% endif %}
		</div>
	</div>
</div>