body {
  padding:0;
}
.talk-stream-tab-container {
  padding:0 !important;
  min-height:0px !important;
}
.social-connections,
.styles__socialConnections___TAxKb,
.styles__separator___3dtLz {
  visibility:hidden !important;
}
.talk-plugin-modetarion-actions-menu {
  top:-160px !important;
}
.coral-sign-in form,
.talk-slot-login form {
  margin-top:-90px;
}